/* Styling the Body element i.e. Color,
		Font, Alignment */
		body {
			background-color: #a4c2e9c8;
			font-family: Verdana;
			text-align: center;
            color: aqua;
		}
        h1{
            color:black;
        }

		/* Styling the Form (Color, Padding, Shadow) */
		form {
			background-color: #0f1021;
            border-radius: 35px;
            height: auto !important;
			max-width: 500px;
			margin: 50px auto;
			padding: 30px 20px;
			box-shadow: 20px 20px 10px rgb(24, 162, 162);
		}

		/* Styling form-control Class */
		.form-control {
			text-align: left;
			margin-bottom: 25px;
		}

		/* Styling form-control Label */
		.form-control label {
			display: flex;
			margin-bottom: 10px;
		}

		/* Styling form-control input,
		select, textarea */
		.form-control input,
		.form-control select,
		.form-control textarea {
			border: 1px solid #777;
			border-radius: 2px;
			font-family: inherit;
			padding: 10px;
			display: block;
			width: 95%;
		}

		/* Styling form-control Radio
		button and Checkbox */
		.form-control input[type="radio"],
		.form-control input[type="checkbox"] {
			display: inline-block;
			width: auto;
		}

		/* Styling Button */
		button {
			background-color: aqua;
			border: 1px solid #777;
			border-radius: 5px;
			font-family: inherit;
			font-size: 21px;
			display: block;
			width: 20%;
			margin-top: 50px;
			margin: 50px auto 20px;
		}

        .summit{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }